<!doctype html>
 
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>jQuery UI Progressbar - Default functionality</title>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css" />
<style type='text/css'>
    .ui-widget-header {
        background-image: url(/heat.jpg) !important;
        background-color: #e0e0e0 !important; //Any colour can go here
    }
</style>

  <script>
  $(function() {
    $( "#progressFoobar" ).progressbar({
      value: 44
    });
    $( "#progressFoobar" ).height(12);
  });
  </script>
</head>
<body>
 
<div id="seven"><a href="http://thechive.com">Some link here</a> <div id="progressFoobar" style="width: 120px;"></div> 88%</div>
 
 
</body>
</html>

